

h1 {
 margin-top:0;
 margin-bottom:0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}


.App {
  text-align: center;
}

.App-logo {
  display: flex;
  pointer-events: none;
  /*object-fit: contain;*/
  height: 100%;
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
*/

.Home-body {
  display: flex;
}

.portfolio-logo {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  height: 10vmin;
}

.App-header {
  background-color: #00193F;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 4vmin);
  color: white;
  height: 80vh;
  width: 80vw;
  overflow-y: hidden;
}

.App-link {
  color: #61dafb;
  display: flex;
  align-items: flex-end;
}

.Intro-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 5%;
  height: 100%;
}

.Intro-body .title{
  font-size: 250%;
  white-space: pre-wrap;
  text-align: left;
  padding: 0%;

}

.Intro-body .body{
  text-align: left;
}

.button-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  /*text-align: center;*/
  text-decoration: none;
  display: inline-block;
  font-size: calc(10px + 4vmin);
}
